.advantages__list-block {
  list-style: none;
  padding: 21px 18px 18px 18px;
}

.advantages__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 7px 0 17px 7px;
}
