.advantages__list {
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__block-line {
  width: 320px;
  min-height: 211px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 70px 18px 40px 18px;
  background-image: url("../../img/white-blue.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .advantages__block-line {
    width: 256px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 52px 33px 31px 33px;
    background-image: none;
    background-repeat: no-repeat;
  }
}

.advantages__block {
  width: 320px;
  min-height: 191px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 38px 18px 12px 18px;
}

@media (min-width: @tablet-width) {
  .advantages__block {
    width: 256px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    padding: 52px 33px 31px 33px;
    order: 1;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 11px 0;
  width: 284px;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 11px 16px;
    width: 159px;
  }
}

.advantages__number {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0 0 17px 0;
  width: 284px;
}

@media (min-width: @tablet-width) {
  .advantages__number {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0 0 17px 0;
    width: 190px;
  }
}

.advantages__slogan {
  text-transform: uppercase;
  width: 282px;
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__slogan {
    text-transform: uppercase;
    width: 190px;
    margin: 0;
    text-align: center;
  }
}

.advantages__slogan-line {
  position: relative;
  text-transform: uppercase;
  width: 246px;
  margin: 0 0 0 18px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__slogan-line {
    position: relative;
    text-transform: uppercase;
    width: 190px;
    margin: 0;
    text-align: center;
  }
}

.advantages__slogan-line::after {
  position: absolute;
  display: block;
  content: "";
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
  top: 155%;
}

@media (min-width: @tablet-width) {
  .advantages__slogan-line::after {
    position: absolute;
    display: none;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    top: 155%;
  }
}

.advantages__line {
  display: block;
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
}

.advantages__list-color {
  list-style: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__list-color {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
  }
}

.advantages__item-color {
  padding: 21px 18px 28px 18px;
  min-height: 141px;
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .advantages__item-color {
    width: 256px;
    min-height: 256px;
    padding: 41px 33px 63px 33px;
    background-color: #eeeeee;
  }
}

.advantages__item-color-last {
  padding: 23px 18px 0 18px;
  min-height: 170px;
  background-color: #eeeeee;
  margin-bottom: 37px;
}

@media (min-width: @tablet-width) {
  .advantages__item-color-last {
    width: 256px;
    min-height: 256px;
    padding: 41px 33px 63px 33px;
    background-color: #eeeeee;
    margin: 0;
  }
}

.advantages__item-image {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .advantages__item-image {
    display: block;
    width: 256px;
    min-height: 331px;
    padding: 60px 33px;
  }
}

.advantages__icon {
  margin: 0 7px 0 0;
}

.advantages__description {
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 25px 47px;
}

@media (min-width: @tablet-width) {
  .advantages__description {
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 0 0;
    width: 178px;
    text-align: center;
  }
}

.advantages__description-last {
  text-transform: uppercase;
  color: #333333;
  margin: -1px 0 27px 47px;
}

@media (min-width: @tablet-width) {
  .advantages__description-last {
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 0 0;
    width: 183px;
    text-align: center;
  }
}

.advantages__picture {
  margin: 0 0 -2px 0;
  display: block;
}

@media (min-width: @tablet-width) {
  .advantages__picture {
    width: 512px;
    height: 256px;
    object-fit: cover;
  }
}
