@media (min-width: @tablet-width) {
  .advantages__br {
    display: none;
  }
}

.advantages__br-line {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__br-line {
    display: block;
  }
}
