.demonstration-block {
  padding: 4px 0 0 0;
}

@media (min-width: @tablet-width) {
  .demonstration-block__title-block {
    width: 445px;
    min-height: 113px;
  }
}

.demonstration-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 28px 0;
}

@media (min-width: @tablet-width) {
  .demonstration-block__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 28px 0;
  }
}

.demonstration-block__text {
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 36px 0;
  width: 266px;
}

@media (min-width: @tablet-width) {
  .demonstration-block__text {
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 36px 0;
    width: 445px;
  }
}

.demonstration-block__video {
  position: relative;
  width: 280px;
  height: 177px;
  margin-left: 20px;
  background-image: url("../../img/video-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 62px 116px 61px 116px;
  margin-bottom: -2px;
}
