.feedback-block {
  margin: 0 0 53px 0;
}

.feedback-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 37px 0 24px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin: 65px 0 21px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 114px 0 0 0;
  }
}

.feedback-block__text {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin: auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 165px;
    width: 436px;
  }

  @media (min-width: @desktop-width) {
    margin: 32px 0 0 383px;
  }
}
