.feedback-block__block-image {
  position: relative;
  overflow: hidden;
  min-height: 158px;
  background-color: #000000;
  background-image: url("../../img/background-form.jpg");
  margin: 0 0 36px 0;
  background-repeat: no-repeat;
  background-position-y: -56px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background-form@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/background-form-tablet.jpg");
    min-height: 290px;
    background-size: 768px auto;
    margin: 0 0 66px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-form-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/background-form-desktop.jpg");
    background-size: 1200px auto;
    min-height: 302px;
    margin: 0 0 114px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-form-desktop@2x.jpg");
    }
  }
}

.feedback-block__image {
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 290px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.feedback-block__sedona-text {
  position: absolute;
  top: 52px;
  left: 45px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
    top: 95px;
    left: 157px;
  }

  @media (min-width: @desktop-width) {
    width: 457px;
    height: 80px;
    top: 101px;
    left: 370px;
  }
}

.feedback-block__image-line {
  position: absolute;
  left: -137%;
  bottom: 0;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: -28%;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
  }
}

.feedback-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin: 0 0 18px 0;
  }
}

.feedback-block__text {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  width: 280px;
  position: relative;
  margin: 0 auto 53px auto;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    left: -20px;
    bottom: -28px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 53px 165px;
    width: 436px;

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 32px 0 53px 383px;
  }
}
