.footer {
  min-height: 235px;
  width: 320px;
  background-color: #ffffff;
  padding: 33px 82px;
}

.footer__hashtag {
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.footer__line {
  list-style: none;
  display: flex;
  gap: 6px;
  padding: 0;
  margin: 0 0 30px 0;
}

.footer__line-item {
  height: 48px;
  width: 48px;
  background-color: #81b3d2;
}

.footer__line-social-vk {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url("../../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}

.footer__line-social-telegram {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url("../../img/telegram-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}

.footer__line-social-youtube {
  height: 48px;
  width: 48px;
  display: block;
  background-image: url("../../img/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px;
}

.footer__logo-block {
  margin-left: 96px - 82px;
  display: flex;
}

.footer__logo-text {
  text-transform: uppercase;
  color: #000000;
  margin: 0 12px 0 0;
  padding-top: 7px;
}
