.header {
  background-color: #ffffff;
  min-height: 56px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    min-height: 56px;
    position: relative;
  }
}

.header__logo {
  position: absolute;
  left: 67px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 38%;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 507px;
    z-index: 1;
  }
}
