.info-block__name-fieldset {
  padding: 0 20px 0 20px;
  margin: 0 0 48px 0;
  border: none;
}

.info-block__info-fieldset {
  border: none;
  padding: 0 20px 0 20px;
  margin: 0 0 42px 0;
}

.info-block__emotion-fieldset {
  border: none;
  position: relative;
  margin: 0 0 49px 0;
  padding: 0 20px 0 20px;
}

.info-block__emotions-feedback {
  border: none;
  padding: 0 21px 0 20px;
  margin: 0 0 19px 0;
}

.info-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.info-block__form-title {
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 0 16px;
}

.info-block__form-input {
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 58px;
  width: 280px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  margin: 0 0 16px 0;
}

.info-block__form-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.info-block__form-line {
  display: flex;
  margin: 0 0 17px 0;
}

.info-block__tel-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 222px;
  min-height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px 0 16px 16px;
}

.info-block__tel-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.info-block__background-image {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../../img/phone-sedona.svg");
  background-repeat: no-repeat;
  background-position: 20px;
}

.info-block__email-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 222px;
  min-height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px 0 16px 16px;
}

.info-block__email-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.info-block__background-image-second {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../../img/mail.svg");
  background-repeat: no-repeat;
  background-position: 21px 21px;
}

.info-block__textarea-feedback {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  resize: none;
  padding: 15px 0 0 15px;
  margin-bottom: 48px;
}

.info-block__textarea-feedback::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.info-block__feedback-button {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 280px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 3px 0;
}

.info-block__necessary-fields {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  margin: 3px 0 0 143px;
}

.info-block__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 61px;
  color: #000000;
}

.info-block__filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-block__filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.info-block__control {
  position: relative;
  display: block;
  min-height: 46px;
  width: 280px;
  padding: 10px 10px 10px 0;
}

.info-block__control-mark {
  position: absolute;
  top: -3px;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  background-color: #f2f2f2;
}

.info-block__control-input:disabled + .info-block__control-mark {
  border-color: #242424;
}

/* Radio */
.info-block__control-input[type="radio"] + .info-block__control-mark {
  border-radius: 50%;
}

.info-block__control-input[type="radio"]:checked {
  & + .info-block__control-mark::before {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 16px;
    height: 16px;
    background-color: #242424;
    border-radius: 50%;
    content: "";
  }
}
/* Checkbox */
.info-block__control-input[type="checkbox"]:checked {
  & + .info-block__control-mark::before {
    .info-block__control-input[type="checkbox"]:checked {
      & + .info-block__control-mark::after {
        position: absolute;
        top: 7px;
        left: 2px;
        width: 12px;
        height: 2px;
        background-color: #242424;
        content: "";
      }
    }
  }
}

.info-block__control-input[type="checkbox"]:checked {
  & + .info-block__control-mark::before {
    transform: rotate(45deg);
  }
}

.info-block__control-input[type="checkbox"]:checked {
  & + .info-block__control-mark::after {
    transform: rotate(-45deg);
  }
}
