.main__index-image {
  position: relative;
  height: 389px;
  background-image: url("../../img/background-index.jpg");
  background-repeat: no-repeat;
  padding: 90px 19px 85px 19px;
  margin: 0 0 34px 0;
}

.main__image-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main__background-image {
  position: relative;
  height: 158px;
  background-image: url("../../img/background-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 52px 46px 67px 46px;
}
