.main-name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 31px;
  min-height: 80px;
  width: 255px;
}

.main-name__reason {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 0 18px;
  text-align: center;
  width: 284px;
}

@media (min-width: @tablet-width) {
  .main-name__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 29px 166px;
    min-height: 52px;
    width: 434px;
  }
}

@media (min-width: @tablet-width) {
  .main-name__reason {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 56px 124px;
    text-align: center;
    width: 520px;
  }
}
