.main-name__image-block {
  position: relative;
  margin: 0 0 27px 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin: 0 0 43px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 54px 0;
  }
}

.main-name__image {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 518px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-name__image-line {
  position: absolute;
  left: -137%;
  bottom: 5px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: -28%;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
  }
}

.main-name__image-text {
  position: absolute;
  top: 90px;
  left: 19px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
    left: 153px;
    top: 77px;
  }

  @media (min-width: @desktop-width) {
    left: 370px;
  }
}

.main-name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 31px;
  min-height: 80px;
  width: 255px;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 29px 166px;
    min-height: 52px;
    width: 434px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 29px 380px;
    min-height: 52px;
    width: 434px;
  }
}

.main-name__reason {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 0 18px;
  text-align: center;
  width: 284px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 55px 124px;
    text-align: center;
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 44px 339px;
  }
}
