@media (min-width: @tablet-width) {
  .photo-block__block {
    width: 458px;
    min-height: 114px;
    margin: 66px 155px 67px 155px;
  }
}

.photo-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 31px 0 26px 20px;
  width: 280px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-block__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 0 25px 85px;
    width: 280px;
    text-align: center;
  }
}

.photo-block__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .photo-block__text {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 426px;
  }
}

.photo-block__list {
  list-style: none;
  padding: 31px 0 0 20px;
}

.photo-block__picture {
  margin: 23px 0 10px 0;
}

.photo-block__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.photo-block__list-text {
  color: #333333;
  margin: 0 0 0 0;
}

.photo-block__list-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin: 11px 0 25px 0;
}

.photo-block__like-counter {
  margin-left: 11px;
}

.photo-block__item {
  position: relative;
  margin: 0 0 1px 0;
}

@media (min-width: @tablet-width) {
  .photo-block__line {
    display: flex;
  }
}

.photo-block__line-block {
}

.photo-block__item::after {
  position: absolute;
  display: block;
  content: "";
  width: 284px;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 0;
}

@media (min-width: @tablet-width) {
  .photo-block__item::after {
    position: absolute;
    display: none;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
  }
}
