@media (min-width: @tablet-width) {
  .photo-block__block {
    width: 458px;
    min-height: 114px;
    margin: 66px 155px 67px 155px;
  }
}

.photo-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 31px 0 26px 20px;
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 0 25px 85px;
    width: 280px;
    text-align: center;
  }
}

.photo-block__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 280px;

  @media (min-width: @tablet-width) {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 426px;
  }
}

.photo-block__picture {
  margin: 23px 0 10px 0;
}

.photo-block__like-counter {
  margin-left: 11px;
}

@media (min-width: @tablet-width) {
  .photo-block__line {
    display: flex;
  }
}
